DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"
AUTH_JWT_SECRET="DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."
AUTH_JWT_EXPIRES_IN="1d"
AUTH_JWT_ISSUER="http://localhost:3000"
THROTTLER_TTL=60000
THROTTLER_LIMIT=10
